.box {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;

}

.songs_section {
    border: 1px solid var(--color-primary);
    border-right: 2.5px solid var(--color-primary);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}